<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aquarium Calculator | Aquarium Volume | Aquarium Weight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Calculate aquarium volume and weights, supports multiple UK and US units.">
    <link rel="stylesheet" href="./build/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div id="app">
    <header>
        <h1>Aquarium Calculator</h1>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="full">
                    <p>The aquarium calculator can be used to calculate the volume and weight using a variety of
                        measurements.</p>
                    <form action="">
                        <h4>Dimensions</h4>
                        <div class="input-field third">
                            <label for="width">Width</label>
                            <input type="number" min="0" v-model="width" placeholder="Width" id="width">
                        </div>
                        <div class="input-field third">
                            <label for="length">Length</label>
                            <input type="number" min="0" v-model="length" placeholder="Length" id="length">
                        </div>
                        <div class="input-field third">
                            <label for="height">Height</label>
                            <input type="number" min="0" v-model="height" placeholder="Height" id="height">
                        </div>
                        <div class="col full">
                            <label for="unit">Unit</label>
                            <select v-model="unit" id="unit">
                                <option>inch</option>
                                <option>cm</option>
                                <option>mm</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="full">
                    <h4>Results</h4>
                    <div class="card">
                        <div class="card-content white-text">
                            <span class="card-title">Volume</span>
                            <p>{{ volume.toFixed(2) }} {{ unit }}<sup>3</sup></p>
                            <p>{{ litres.toFixed(2) }} Litres</p>
                            <p>{{ gallons.toFixed(2) }} U.S. Gallons</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content white-text">
                            <span class="card-title">Weight</span>
                            <p>{{ kilos.toFixed(2) }} kg</p>
                            <p>{{ pounds.toFixed(2) }} lbs</p>
                        </div>
                    </div>
                    <p>Results assume freshwater weighing at 0.001m<sup>3</sup> = 1kg and the aquarium is filled to the
                        top.
                        Decrease height value to get realistic results.</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="full">
                    <p>
                        Built by <a href="http://ross-cooper.co.uk">Ross Cooper</a> using
                        <a href="https://vuejs.org/"><img src="https://vuejs.org/images/logo.png" alt="Vue.js logo"
                                                          class="logo">Vue.js</a>
                    </p>
                    <p>View on <a href="https://github.com/rossjcooper/vuejs-aquarium-calculator">Github</a></p>
                </div>
            </div>
        </div>
    </footer>

</div>
<script src="https://unpkg.com/vue"></script>
<script src="./build/js/app.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-59508631-7', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>